
* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif;
    font-size: 16px;
}

header div.title {
    font-size: 25px;
    font-weight: bold;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.py-4 {
    margin: 40px 0;
}

.config-table {
    border-collapse: collapse;
    width: 100%;
}

.config-table tr.odd {
    background: #b6fbca;
}

.config-table tr th, .config-table tr td {
    font-size: 14px;
    padding: 5px 10px;
}

.config-table tr th {
    text-align: right;
}