<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">

    <title>{{ data.title }}</title>
</head>
<body>
<div class="main">
    <h1>{{ data.message }}</h1>
    <div class="time"></div>
    <a href="/">Back</a>
</div>
<script src="/static/js/show-time.js"></script>
</body>
</html>