@charset "UTF-8";

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

input, button, table {
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif;
    font-size: 14px;
    outline: none;
}

.main {
    width: 90%;
    margin: 0 auto;
}

.search {
    margin-top: 20px;
}

.search input {
    width: 300px;
    padding: 8px 10px;
}

.search button {
    padding: 8px 10px;
}

.results {
    margin-top: 40px;
}

.results table {
    width: 300px;
}

.results table td {
    padding: 8px 10px;
    background: #bfbfbf;
    color: #fff;
    font-weight: bold;
    position: relative;
}

.results table td a.close {
    color: #a51819;
    text-decoration: none;
    display: block;
    position: absolute;
    font-style: normal;
    top: -4px;
    right: 2px;
}