@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif;
    font-size: 16px;
}

input[type=text], button {
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif;
    font-size: 16px;
    padding: 5px 8px;
}

header div.title {
    font-size: 25px;
    font-weight: bold;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.py-4 {
    margin: 40px 0;
}

.py-1 {
    margin: 10px 0;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table tr.odd {
    background: #b6fbca;
}

.table tr th, .table tr td {
    font-size: 14px;
    padding: 5px 10px;
}

.table tr th {
    text-align: right;
}

.table tr.align-left th {
    text-align: left;
}

.text-right {
    text-align: right;
}

.mt-1 {
    margin-top: 10px;
}

.mr-2 {
    margin-right: 20px;
}

.ml-2 {
    margin-left: 20px;
}

.ml-9 {
    margin-left: 90px;
}

.text-small {
    font-size: 14px;
}

.row {
    padding: 10px;
}

.row:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    width: 0;
}

.inline-input > label, .inline-input > div.field {
    display: inline-block;
}

.inline-input > div.field {
    margin-left: 5px;
}

.inline-input > div.field > ul {
    padding: 0;
    margin: 0;
}

.inline-input > div.field > ul > li {
    display: inline-block;
    margin-right: 15px;
}

.inline-input > label {
    width: 80px;
    text-align: right;
}

.inline-input > .error {
    margin-left: 88px;
    font-size: 12px;
    color: #a51819;
    margin-top: 5px;
}

form {
    width: 310px;
    margin: 10px auto;
}

form .actions {
    text-align: center;
    margin-top: 20px;
}

.groups {
    list-style: none;
    padding: 0;
    margin: 0;
}

.groups > li {
    background: #aaa;
    color: #fff;
    padding: 10px;
    display: inline-block;
    position: relative;
    min-width: 100px;
}

.groups > li .close {
    position: absolute;
    top: -4px;
    right: 2px;
    text-decoration: none;
    color: #fff
}

.pagination {
    margin-top: 20px;
}

.pagination:after {
    content: '';
    display: block;
    clear: both;
    width: 0;
    height: 0;
    visibility: hidden;
}

.pagination ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

.pagination ul li {
    display: inline-block;
}

.pagination ul li a, .pagination ul li b {
    display: block;
    text-decoration: none;
    color: #3583ff;
    font-weight: normal;
    padding: 3px 8px;
    border: 1px solid #aaa;
}

.pagination ul li a:hover {
    color: #fff;
    background: #3583ff;
}

.pagination ul li b.current-page {
    font-weight: bold;
    background: #cddeff;
}