.DS_Store
.vscode
.idea
.venv
.coverage
.cache
.pytest_cache
__pycache__
.lock
*.log
.virtual_documents
.history

/basic/thread_/.lock/
.ipynb_checkpoints

/**/dlib.egg-info/
/**/dist/
/**/build/

.lh
.fleet
