<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="content-type" content="text/html" charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="renderer" content="webkit" />

  <link rel="stylesheet" type="text/css" href="{{ assets.css('index.css') }}" />
  <title>SocketIO Demo</title>
</head>

<body>
  <div class="main">
    <header>
      <h2 class="title">Chat Room</h2>
    </header>
    <main class="container">
      <div class="chat-room">
        <div class="input-group">
          <label>Name:</label>
          <input class="user-name" type="text" placeholder="Please input your name" />
        </div>
        <div class="input-group">
          <label>Room:</label>
          <select class="select-chat-room">
            <option>Please select your chat room</option>
          </select>
          <button class="new-room">New Room</button>
        </div>
      </div>
      <div class="chat">
        <div class="chat-list"></div>
        <div class="chat-message">
          <button type="button">Send</button>
          <div>
            <textarea placeholder="Please input your message"></textarea>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script src="{{ assets.script('socket.io.min.js', fixed = True) }}"></script>
  <script>
    const _token = '{{ token }}'
  </script>

  <script>
    const $userName = document.querySelector('.user-name');
    const $chatRoom = document.querySelector('.select-chat-room');
    const $createNewRoom = document.querySelector('.new-room');
    const $list = document.querySelector('.chat-list');
    const $message = document.querySelector('.chat-message textarea');
    const $send = document.querySelector('.chat-message button');

    const socket = io('ws://127.0.0.1:5001/my-chat', {
      reconnectionDelayMax: 1000,
      auth: {
        token: _token
      }
    })

    socket.emit('rooms', () => {
      console.log(`"rooms" event sent`);
    });

    socket.on('rooms', (request) => {
      console.log(`"rooms" event received`);

      const res = request['result'];
      console.log(res);

      if ((res['rooms'] || []).length > 0) {
        $chatRoom.innerHTML = '';
        res['rooms'].forEach((name) => {
          const $opt = document.createElement('option');
          $opt.value = name;
          $opt.textContent = name;
          $chatRoom.appendChild($opt);
        });
      }
    });

    $send.addEventListener('click', () => {
      const msg = ($message.value || '').trim();
      if (msg) {
        socket.send(msg, { a: 100 });
      }
    })

    $createNewRoom.addEventListener('click', () => {
      if (!$userName.value) {
        alert("Please input your name");
        $userName.focus();
        $userName.select();
        return;
      }

      const roomName = prompt('Input new room name');
      socket.emit('joinRoom', {roomName, userName: $userName.value})
    });
  </script>
</body>

</html>
