
* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif;
    font-size: 16px;
}

p.title {
    font-size: 20px;
    font-weight: 400;
}

.form-group .console-label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.form-group .form-control[type=text] {
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif;
    font-size: 16px;
    padding: 5px 10px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-danger {
    color: #b71428;
}

.py-4 {
    margin: 40px 0;
}