<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="{{ assets.css('common.css') }}">

    <title>Application Config</title>
</head>
<body>
<div role="main">
    <header>
        <div class="title text-center py-4">Flask config</div>
    </header>
    <main class="container">
        <table class="config-table">
            <tbody>
            {% for k, v in config.items() %}
                <tr class="{{ 'odd' if loop.index % 2 != 0 else '' }}">
                    <th>{{ k }}</th>
                    <td>{{ v }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
</div>
</body>
</html>