<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="{{ assets.css('common.css') }}">

    <title>Intercept Demo</title>
</head>
<body>
<div role="main">
    <header>
        <div class="logout">
            <a href="#">Logout</a>
        </div>
    </header>
    <main class="container">
        <div class="welcome">
            Welcome
            {{ 'Mr' if user.gender == 'M' else 'Miss' }}
            {{ user.name }}
        </div>
        <form id="logout-form" method="post" action="/logout"></form>
    </main>
</div>
<script src="{{ assets.js('logout.js') }}"></script>
</body>
</html>