<!--suppress HtmlUnknownTarget -->
{% import "pagination.html" as pagination %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <link rel="stylesheet" href="{{ assets.css('common.css') }}" />

    <title>DB Demo</title>
  </head>
  <body>
    <div role="main">
      <header>
        <div class="text-right mt-1 mr-2 text-small">
          <a href="/configs">List sqlalchemy configs</a>
        </div>
        <div class="title text-center py-4">User List</div>
      </header>
      <main class="container">
        <div class="operates py-2 text-right">
          <a href="/new">Add User</a>
        </div>
        <div class="user-list">
          <table class="table">
            <thead>
              <tr class="align-left">
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Birthday</th>
                <th>CreatedAt</th>
                <th>Group</th>
                <th>Opt</th>
              </tr>
            </thead>
            <tbody>
              {% for u in users %}
              <tr class="{{ 'odd' if loop.index % 2 != 0 else '' }}">
                <td>{{ u.id_num }}</td>
                <td>{{ u.name }}</td>
                <td>{{ 'Male' if u.gender == 'M' else 'Female' }}</td>
                <td>{{ u.birthday }}</td>
                <td>{{ tz(u.created_at) }}</td>
                <td>{{ user_groups[u.id] }}</td>
                <td>
                  <a href="/{{ u.id }}/edit">Edit</a>
                  <a href="#" data-id="{{ u.id }}" class="ml-2 delete">
                    Delete
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {{ pagination.pagination(page.page_index, page.page_count) }}
        </div>
      </main>
    </div>
    <form id="delete-form" method="post" action="/?__method='DELETE"></form>
    <script src="{{ assets.js('delete-user.js') }}"></script>
  </body>
</html>
