{% macro pagination(page_index, page_count) %}
<div class="pagination">
  <ul>
    {% if page_index == page_count %}
      {% set start = (1, page_index - 2) | max %}
      {% set end = page_count %}
    {% else %}
      {% set start = (1, page_index - 1) | max %}
      {% set end = (page_count, start + 2) | min %}
    {% endif %}

    {% if start > 1 %}
      <li><a href="?p=1">1</a></li>
      <li><b>...</b></li>
    {% endif %}

    {% for n in range(start, end + 1) %}
      {% if n == page_index %}
        <li><b class="current-page">{{ n }}</b></li>
      {% else %}
        <li><a href="?p={{ n }}">{{ n }}</a></li>
      {% endif %}
    {% endfor %}

    {% if end < page_count %}
      <li><b>...</b></li>
      <li><a href="?p={{ page_count }}">{{ page_count }}</a></li>
    {% endif %}
  </ul>
</div>
{% endmacro %}
