<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <link rel="stylesheet" href="{{ assets.css('common.css') }}" />

    {% set title = 'Edit User' if id else 'New User' %}

    <title>{{ title }}</title>
  </head>
  <body>
    <div role="main">
      <header>
        <div class="mt-1 ml-2 text-small"><a href="/">&larr; Back</a></div>
        <div class="title text-center py-4">{{ title }}</div>
      </header>
      <main class="container">
        <form
          method="post"
          action="{{ '/{}?__method=PUT'.format(id) if id else '/' }}"
        >
          <div class="row inline-input">
            <label class="label">{{ form.id_num.label }}: </label>
            <div class="field">{{ form.id_num }}</div>
            {% if 'id_num' in form.errors %}
            <div class="error">{{ form.errors['id_num'][0] }}</div>
            {% endif %}
          </div>

          <div class="row inline-input">
            <label class="label">{{ form.name.label }}: </label>
            <div class="field">{{ form.name }}</div>
            {% if 'name' in form.errors %}
            <div class="error">{{ form.errors['name'][0] }}</div>
            {% endif %}
          </div>

          <div class="row inline-input">
            <label class="label">{{ form.gender.label }}: </label>
            <div class="field">{{ form.gender }}</div>
            {% if 'gender' in form.errors %}
            <div class="error">{{ form.errors['gender'][0] }}</div>
            {% endif %}
          </div>

          <div class="row inline-input">
            <label class="label">{{ form.birthday.label }}: </label>
            <div class="field">{{ form.birthday }}</div>
            {% if 'birthday' in form.errors %}
            <div class="error">{{ form.errors['birthday'][0] }}</div>
            {% endif %}
          </div>

          <div class="row inline-input">
            <label class="label">{{ form.group.label }}: </label>
            <div class="field">{{ form.group }}</div>
            {% if 'group' in form.errors %}
            <div class="error">{{ form.errors['group'][0] }}</div>
            {% endif %}
            <div class="ml-9 mt-1">
              <a href="/groups?__back={{ request.path }}">Edit groups</a>
            </div>
          </div>

          <div class="actions">
            <button class="btn" type="submit">Confirm</button>
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
