@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

input, textarea, button {
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif;
    font-size: 14px;
    outline: none;
}

input[type=text], textarea {
    padding: 5px 8px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

header h2 {
    text-align: center;
}

.chat {
    margin-top: 20px;
    width: 100%;
    border: 1px solid #ccc;
}

.chat .chat-list {
    width: 100%;
    height: 400px;
}

.chat .chat-message {
    padding: 5px;
}

.chat .chat-message > button {
    float: right;
    margin-left: 10px;
    width: 4em;
    height: 4em;
}

.chat .chat-message > div {
    overflow: hidden;
}

.chat .chat-message textarea {
    width: 100%;
    resize: none;
    height: 4em;
    border: 1px solid #ccc;
}