<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">

    <link rel="stylesheet" type="text/css" href="{{ assets.css('common.css') }}">
    <title>SocketIO Demo</title>
</head>
<body>
<div class="main">
    <header>
        <h2 class="title">Chat Room</h2>
    </header>
    <main class="container">
        <div class="user-name">
            <label>
                Name: <input type="text" placeholder="Please input your name">
            </label>
        </div>
        <div class="chat">
            <div class="chat-list"></div>
            <div class="chat-message">
                <button type="button">Send</button>
                <div>
                    <textarea placeholder="Please input your message"></textarea>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="{{ assets.js('socketio.2.1.1.js', fixed=True) }}"></script>
</body>
</html>