<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="{{ assets.css('common.css') }}">

    <title>Error</title>
</head>
<body>
<div>
    <h2 align="center">{{ msg }}</h2>
    <p align="center">{{ err }}</p>
</div>
</body>
</html>