<!--suppress HtmlDeprecatedTag, HtmlUnknownTarget -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="{{ assets.css('common.css') }}">

    <title>OK</title>
</head>
<body>
<div>
    <p align="center">
        <big><a href="/not-exist-url">Cause 404</a></big>
        <big><a href="/exception" style="margin-left: 30px">Cause Exception</a></big>
    </p>
</div>
</body>
</html>