{% from "lib.html" import url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link rel="shortcut icon" href="{{ assets.image('favicon.ico') }}">
    <link rel="stylesheet" href="{{ assets.css('vendor.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% block header %}{% endblock %}
</head>
<body>
<div id="app" class="container" role="main">
    {% block content %}{% endblock %}
</div>
<script type="text/javascript" src="{{ assets.js('manifest.js') }}"></script>
<script type="text/javascript" src="{{ assets.js('vendor.js') }}"></script>
{% block footer %}{% endblock %}
</body>
</html>